<!-- Featured Section -->
<div class="getmoreresult">
  <h2 class="section-title">Featured</h2>
  <div class="arrow-wrapper" (click)="getmoreresult('featured')">
    <img src="../../../assets/images/getmoreresult.svg" alt="More results">
  </div>
</div>

<app-post-slider-shimmer *ngIf="isLoadingFeatured" [cardCount]="5"></app-post-slider-shimmer>
<app-product-card-holder *ngIf="!isLoadingFeatured"
  [featuredArrayDetails]="featuredArrayDetails"></app-product-card-holder>

<!-- New Products Section -->
<div class="getmoreresult">
  <h2 class="section-title">New</h2>
  <div class="arrow-wrapper" (click)="getmoreresult('new')">
    <img src="../../../assets/images/getmoreresult.svg" alt="More results">
  </div>
</div>

<app-post-slider-shimmer *ngIf="isLoadingNew" [cardCount]="5"></app-post-slider-shimmer>
<app-product-card-holder *ngIf="!isLoadingNew" [featuredArrayDetails]="NewArrayDetails"></app-product-card-holder>

<!-- Most Viewed Section -->
<div class="getmoreresult">
  <h2 class="section-title">Most Viewed</h2>
  <div class="arrow-wrapper" (click)="getmoreresult('mostviewed')">
    <img src="../../../assets/images/getmoreresult.svg" alt="More results">
  </div>
</div>

<app-post-slider-shimmer *ngIf="isLoadingMostViewed" [cardCount]="5"></app-post-slider-shimmer>
<app-product-card-holder *ngIf="!isLoadingMostViewed"
  [featuredArrayDetails]="MostViewedArrayDetails"></app-product-card-holder>

<!-- All Products Section -->
<h2 class="section-title">All</h2>
<app-common-product-list></app-common-product-list>