<div class="shimmer-container">
    <div class="shimmer-scroll-wrapper">
        <!-- Left Arrow Shimmer -->
        <div class="shimmer-scroll-btn left">
            <div class="shimmer-box shimmer-animate"></div>
        </div>

        <!-- Shimmer Cards Container -->
        <div class="shimmer-cards-container">
            <div class="shimmer-product-card" *ngFor="let card of shimmerCards">
                <div class="shimmer-product-icon shimmer-animate"></div>
                <div class="shimmer-product-name shimmer-animate"></div>
                <div class="shimmer-product-type shimmer-animate"></div>
                <div class="shimmer-chip-wrapper">
                    <div class="shimmer-chip shimmer-animate"></div>
                    <div class="shimmer-chip shimmer-animate"></div>
                    <div class="shimmer-chip shimmer-animate"></div>
                </div>
            </div>
        </div>

        <!-- Right Arrow Shimmer -->
        <div class="shimmer-scroll-btn right">
            <div class="shimmer-box shimmer-animate"></div>
        </div>
    </div>
</div>